<nav>
    <ul>
        <li><a routerLink="/boucle" routerLinkActive="active">Boucle</a></li>
        <li><a routerLink="/template" routerLinkActive="active">template</a></li>
        <li><a routerLink="/todo" routerLinkActive="active">Todo</a></li>
        <li><a routerLink="/todo-second" routerLinkActive="active">Todo Second</a></li>
        <li><a routerLink="/chiens" routerLinkActive="active">Chiens</a></li>
        <li><a routerLink="/model" routerLinkActive="active">Model Forms</a></li>
    </ul>
</nav>

<router-outlet></router-outlet>