<h1>La liste de chiens</h1>


<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nom</th>
      <th>Race</th>
      <th>Date de Naissance</th>
      <th>Supprimer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let chien of listeChien">
      <td>{{chien.id}}</td>
      <td>
        <a [routerLink]="['/chien', chien.id]">
          {{chien.nom}}
        </a>
      </td>
      <td>{{chien.race}}</td>
      <td>{{chien.dateNaissance | date:'dd/MM/yyyy'}}</td>
      <td>
        <button (click)="supprimer(chien.id)">X</button>
      </td>
    </tr>
  </tbody>

</table>



<section>
  <h2>Ajouter un chien</h2>
  <p>
    <label>Nom : </label>
    <input type="text" [(ngModel)]="nouveauChien.nom" />
  </p>
  <p>
      <label>Race : </label>
    <input type="text" [(ngModel)]="nouveauChien.race" />
  </p>
  <p>
      <label>Date de naissance : </label>
    <input type="date" [(ngModel)]="nouveauChien.dateNaissance" />
  </p>
  <p>
    <button (click)="ajouter()">Ajouter</button>
  </p>
</section>